@import "scss/_var.scss"; // khai bao bien
@import "scss/_main.scss"; // css khung layout page
@import "scss/_home.scss"; // css trang chu
@import "scss/_detail.scss"; // css trang chi tiet san pham
@import "scss/_module.scss"; // css module: slide,deal hot
@import "scss/_layout-other.scss"; // css cac page khac

@import "scss/_popups.scss";
@import "scss/_custom-style.scss"; // css file custom