
.oFair {


	.banner-top {
		position: relative;
		display: block;
		width: 100%;
		overflow: hidden;
		.slide-home {
			background: #f2f2f2;
			background-size: cover;
			background-position: center;
			background-repeat: no-repeat;
			.item-slide {
				width: 100%;
				overflow: hidden;
				.item-slide-inner {
					position: relative;
					display: block;
					width: 100%;
					color: #fff;
					padding: 50px 0 0 74px;
					height: 570px;
					.box-left {
						position: relative;
						display: block;
						float: left;
						width: 430px;
						padding-top: 50px;
					}
					.box-right {
						position: absolute;
						display: block;
						bottom: 0;
						right: -100px;
						width: calc(100% - 370px);
						.img-01 {
							max-width: 760px;
						}
					}
				}
				.banner-title {
					width: 430px;
					height: auto;
					left: 0px;
					top: 52px;
					margin-bottom: 30px;
					font-family: 'Averta-Black';
					font-size: 38px;
					line-height: 46px;
					text-transform: uppercase;
					color: #FFFFFF;
				}
				.banner-des {
					font-size: 16px;
					line-height: 1.5;
					text-align: justify;
					a {
						color: #FFFFFF;
						text-decoration: none;
						font-family: 'Averta-Bold';
						line-height: 22px;
					}
				}

				.intro-countdown {
					position: relative;
					display: block;
					width: 100%;
					color: #fff;
					.countdown-txt {
						position: relative;
						display: block;
						font-size: 15px;
						font-family: 'Averta-Bold';
						line-height: 1.3;
						margin-bottom: 5px;
						i, svg {
							padding-right: 5px;
						}
					}
					.countdown-value {
						position: relative;
						display: block;
						display: flex;
						padding-left: 25px;
						width: 100%;
						white-space: nowrap;
						.attr-time {
							position: relative;
							display: inline-block;
							margin-left: 30px;
							&:first-child {
								margin-left: 0;
								.time-value {
									&:before {
										content: "";
										display: none;
									}
								}
							}
							&:nth-last-child(3),
							&:nth-last-child(4) {
							}
							.time-value {
								position: relative;
								display: block;
								min-width: 60px;
								text-transform: uppercase;
								font-family: 'Averta-Black';
								font-size: 35px;
								line-height: 42px;
								text-align: left;
								&:before {
									content: "";
									position: absolute;
									display: block;
									width: 1px;
									height: 25px;
									background: #41689E;
									top: 11px;
									left: -25px;
									transform: rotate(30deg);
								}
							}
							.time-text {
								position: relative;
								display: block;
								clear: both;
								font-size: 13px;
								line-height: 19px;
								text-transform: lowercase;
							}
						}

					}
				}
			}
			.group-btn-slide {
				position: absolute;
				display: block;
				top: 0;
				bottom: 0;
				width: 100%;
				height: 100%;
				left: 0;
				right: 0;

				.progress-ring {

				}

				.progress-ring__circle {
					transition: 5s stroke-dashoffset;
					// axis compensation
					transform: rotate(-90deg);
					transform-origin: 50% 50%;
				}
			}
			.swiper-progress-slide-home {
				position: absolute;
				z-index: 5;
				width: 40px;
				height: 40px;
				left: 15px;
				top: 60%;
				margin: auto;
				transform: translate3d(0px,-80px,0);
			}
			.swiper-pagination-slide-home {
				position: absolute;
				z-index: 2;
				bottom: 10px;
				.swiper-pagination-bullet {
					background: #fff;
					opacity: .5;
					box-shadow: 0 0px 1px rgba(122, 122, 122, 0.5);	
				}
				.swiper-pagination-bullet-active {
					background: #fff;
					opacity: 1;
				}
			}
			.swiper-pagination-slide-home-v {
				position: absolute;
				z-index: 5;
				left: 24px;
				top: 60%;
				margin: auto;
				transform: translate3d(0px,-50%,0);
				.swiper-pagination-bullet {
					display: block;
					width: 10px;
					height: 10px;
					margin: 6px;
					background: #fff;
					opacity: .5;
					box-shadow: 0 0px 1px rgba(122, 122, 122, 0.5);	
				}
				.swiper-pagination-bullet-active {
					background: #fff;
					opacity: 1;
				}
			}
			&:hover {
				.swiper-button-next-slide-home, .swiper-button-prev-slide-home {
					background: rgba(255,255,255,.8);
					//filter: drop-shadow(0px 1px 2px #000);
					opacity: .9;
				}
			}
			.swiper-button-next-slide-home, .swiper-button-prev-slide-home {
				position: absolute;
				z-index: 6;
				top: 50%;
				width: 35px;
				height: 35px;
				margin-top: -17px;
				background: rgba(255,255,255,.3);
				border-radius: 50%;
				outline: none;
				cursor: pointer;
				opacity: .7;
				box-shadow: 0 1px 5px 0 rgba(0,0,0,0.16), 0 1px 2px 0 rgba(0,0,0,0.26);
				&:after {
					content: "";
					position: absolute;
					display: block;
					top: 0;
					right: 0;
					width: 35px;
					height: 35px;
					line-height: 35px;
					text-align: center;
					vertical-align: middle;
					z-index: 2;
					font-family: 'Font Awesome 5 Pro';
					font-size: 24px;
					font-weight: 300;
					-moz-osx-font-smoothing: grayscale;
					-webkit-font-smoothing: antialiased;
					display: inline-block;
					font-style: normal;
					font-variant: normal;
					text-rendering: auto;
				}
				&.swiper-button-disabled {
					cursor: default;
					opacity: .1;
				}
			}
			.swiper-button-prev-slide-home {
				left: 10px;
				right: auto;
				&:after {
					content: "\f104";
				}
			}
			.swiper-button-next-slide-home {
				right: 10px;
				left: auto;
				&:after {
					content: "\f105";
				}
			}
			.item-slide a {
				height: 296px;
			}
		}
	}
	
	.banner-top-small {
		position: relative;
		display: block;
		width: 100%;
		overflow: hidden;
		.banner-img {
			position: relative;
			display: block;
			width: 100%;
			height: 140px;
			background: #f2f2f2;
			background-size: cover;
			background-position: center;
			background-repeat: no-repeat;
		}
	}


	.section-intro {
		position: relative;
		display: block;
		width: 100%;
		overflow: hidden;
		background: $sua;
		padding: 40px 0;
		.intro-inner {
			.intro-left {
				position: relative;
				display: block;
				float: left;
				width: calc(100% - 350px);
				vertical-align: top;
				padding-right: 45px;
				.txt {
					font-size: 18px;
					line-height: 1.4;
					text-align: justify;
					color: #1B2240;
					a {
						color: #1A2141;
						text-decoration: none;
						font-family: 'Averta-Bold';
						font-size: 18px;
						line-height: 22px;
					}
				}
			}
			.intro-right {
				position: relative;
				display: block;
				float: left;
				width: 350px;
				vertical-align: top;
				.intro-countdown {
					position: relative;
					display: block;
					width: 100%;
					.countdown-txt {
						position: relative;
						display: block;
						font-size: 18px;
						line-height: 1.3;
						text-align: center;
						color: #1B2240;
					}
					.countdown-value {
						position: relative;
						display: block;
						display: flex;
						justify-content: center;
						width: 100%;
						color: #FF4848;
						white-space: nowrap;
						.attr-time {
							position: relative;
							display: inline-block;
							margin-left: 30px;
							text-align: center;
							&:first-child {
								margin-left: 0;
							}
							&:nth-last-child(3),
							&:nth-last-child(4) {
								.time-value {
									&:before {
										content: "";
										display: none;
									}
								}
							}
							.time-value {
								position: relative;
								display: block;
								min-width: 60px;
								color: #FF4848;
								text-transform: uppercase;
								font-family: 'Averta-Black';
								font-size: 48px;
								line-height: 58px;
								text-align: left;
								&:before {
									content: ":";
									position: absolute;
									display: block;
									width: 25px;
									height: 58px;
									top: 0;
									left: -25px;
									font-weight: 900;
									font-size: 48px;
									text-align: left;
								}
							}
							.time-text {
								position: relative;
								display: block;
								clear: both;
								font-size: 16px;
								line-height: 19px;
								color: #1B2240;
								text-transform: lowercase;
							}
						}

					}
				}
			}
		}
		@media (max-width: 767px) {
			padding: 20px 0;
			.intro-inner {
				.intro-left {
					width: 100%;
					float: none;
					padding-right: 0;
					.txt {
						font-size: 16px;
						a {
							font-size: 16px;
						}
					}
				}
				.intro-right {
					width: 100%;
					float: none;
					.intro-countdown {
						.countdown-value .attr-time {
							margin-left: 20px;
							.time-value {
								min-width: 38px;
								font-size: 30px;
								line-height: 36px;
								&:before {
									left: -20px;
									width: 20px;
									height: 36px;
									font-size: 32px;
								}
							}
						}
						.countdown-txt {
							font-size: 16px;
						}
					}
				}
			}
		}
	}
}
