.oFair {
	.section-breadcrumb {
		background: #2575FC;
		color: #fff;
		nav {
			background: none;
		}
		.breadcrumb {
			background: none;
			margin: 0;
			padding: .65rem 1rem;
			.breadcrumb-item {
				&+.breadcrumb-item {
					padding-left: 1.1rem;
					&::before{
						content: "|";
						color: #fff;
						padding-right: 1.2rem;
					}
				}
				&.active {
					color: #ddd;
				}
				a {
					color: #fff;
				}
			}
		}
	}


	.section-university-slide {
		position: relative;
		display: block;
		padding: 40px 0;
		background: #FFFFFF;
		.university-inner {
			display: block;
		}
		.university-box-title {
			position: relative;
			display: block;
			width: 100%;
			vertical-align: top;
			color: #333333;
			text-align: center;
			.title-name {
				position: relative;
				display: block;
				font-family: 'Averta-Bold';
				font-size: 26px;
				line-height: 31px;
				margin-bottom: 20px;
				padding: 0 0 25px;
				text-transform: uppercase;
				&:before {
					content: "";
					position: absolute;
					width: 175px;
					height: 15px;
					background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='176' height='15' viewBox='0 0 176 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cg clip-path='url(%23clip0)'%3e%3crect x='0.928925' y='6.57104' width='70' height='1' fill='%23C9C9C9'/%3e%3crect x='88' width='10' height='10' transform='rotate(45 88 0)' fill='%23C9C9C9'/%3e%3crect x='105.071' y='6.57104' width='70' height='1' fill='%23C9C9C9'/%3e%3c/g%3e%3cdefs%3e%3cclipPath id='clip0'%3e%3crect x='0.928925' width='174.142' height='14.1421' fill='white'/%3e%3c/clipPath%3e%3c/defs%3e%3c/svg%3e");
					bottom: 0;
					left: 0;
					right: 0;
					margin: 0 auto;
					pointer-events: none;
				}
			}
			.title-sub {
				position: relative;
				display: block;
				width: 100%;
				height: 103px;
				font-size: 18px;
				line-height: 1.4;
				text-align: justify;
				margin-bottom: 25px;
			}
		}
		.university-box-list {
			position: relative;
			display: block;
			float: left;
			vertical-align: top;
			width: 100%;
			.university-list {
				position: relative;
				display: block;
				overflow: hidden;
				.university-item {
					position: relative;
					display: block;
					width: 100%;
					max-width: 350px;
					padding: 0 1px;
					margin: 0 auto;
					.item-inner {
						position: relative;
						display: block;
						padding: 20px 20px 40px;
						background: #FFFFFF;
						border: 1px solid #E8E8E8;
						.item-image {
							position: relative;
							display: block;
							overflow: hidden;
							margin-bottom: 20px;
							.item-image-a {
								position: relative;
								display: block;
								width: 80px;
								height: 80px;
								margin: 0 auto;
							}
						}
						.item-info {
							position: relative;
							display: block;
							text-align: center;
							.ratings {
								font-size: 13px;
								line-height: 1.5;
								letter-spacing: -0.05em;
								color: #878787;
								.ratings-value {
									color: #ED1C94;
									font-family: 'Averta-Bold';
								}
							}
							.item-title {
								position: relative;
								display: block;
								width: 100%;
								margin: 0 0 10px;
								padding: 0;
								.item-title-a {
									position: relative;
									display: block;
									display: -webkit-box;
									height: 40px;
									padding: 0;
									margin: 0;
									font-family: 'Averta-Bold';
									font-size: 16px;
									line-height: 19px;
									color: #242732;
									text-decoration: none;
									text-transform: uppercase;
									overflow: hidden;
									-webkit-box-orient: vertical;
									text-overflow: ellipsis;
									-webkit-line-clamp: 2;
									word-break: break-word;
									letter-spacing: -0.05em;
								}
							}
							.item-description {
								padding-bottom: 20px;
								border-bottom: 1px dashed #F2F2F2;
								font-size: 16px;
							}
							.list-majors {
								position: relative;
								display: block;
								text-align: center;
								span {
									display: inline-block;
									width: 26px;
									height: 26px;
									line-height: 26px;
									margin-bottom: 5px;
									margin-right: 5px;
									border-radius: 50%;
									overflow: hidden;
									background-color: #DA4167;
									color: #fff;
									font-size: 13px;
									text-align: center;
									text-transform: uppercase;
									&:nth-child(2) {
										background-color: #416CDA;
									}
									&:nth-child(3) {
										background-color: #41DADA;
									}
									&:nth-child(4) {
										background-color: #41DAA3;
									}
									&:nth-child(5) {
										background-color: #DA8A41;
									}
									&:nth-child(6) {
										background-color: #DA4167;
									}
									&:nth-child(7) {
										background-color: #416CDA;
									}
									&:nth-child(8) {
										background-color: #41DADA;
									}
									&:nth-child(9) {
										background-color: #41DAA3;
									}
									&:nth-child(10) {
										background-color: #DA8A41;
									}
									&:last-child {
										margin-right: 0;
									}
								}
							}
						}
					}
					.item-inner:hover {
						.item-info {
							.btn-viewmore {
								background: #004989;
							}
						}
					}
				}
			}
			.btn-viewall {
				position: relative;
				display: block;
				width: 100px;
				height: 36px;
				line-height: 36px;
				color: #fff;
				background: #2A6CF8;
				border: 0;
				border-radius: 3px;
				font-size: 12px;
				text-align: center;
				text-decoration: none;
				margin: 30px auto 15px;
				text-transform: uppercase;
			}
			.swiper-pagination-university {
				position: relative;
				display: block;
				text-align: center;
				.swiper-pagination-bullet {
					width: 20px;
					height: 5px;
					margin: 4px;
					display: inline-block;
					border-radius: 0;
					background: #909CC2;
					opacity: 1;
				}
				.swiper-pagination-bullet-active {
					opacity: 1;
					background: var(--swiper-pagination-color,var(--oFair-btn-color));
				}
			}

			&:hover {
				.swiper-button-prev-university, .swiper-button-next-university {
					background: #FFFFFF;
					//filter: drop-shadow(0px 1px 2px #000);
					opacity: 1;
				}
			}
			.swiper-button-prev-university, .swiper-button-next-university {
				position: absolute;
				z-index: 6;
				top: 50%;
				width: 30px;
				height: 30px;
				margin-top: -20px;
				background: rgba(255,255,255,.3);
				outline: none;
				cursor: pointer;
				opacity: .7;
				background: #FFFFFF;
				box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
				border-radius: 3px;
				&:after {
					content: "";
					position: absolute;
					display: block;
					top: 0;
					right: 0;
					width: 30px;
					height: 30px;
					line-height: 30px;
					text-align: center;
					vertical-align: middle;
					z-index: 2;
					font-family: 'Font Awesome 5 Pro';
					font-size: 24px;
					font-weight: 300;
					-moz-osx-font-smoothing: grayscale;
					-webkit-font-smoothing: antialiased;
					display: inline-block;
					font-style: normal;
					font-variant: normal;
					text-rendering: auto;
				}
				&.swiper-button-disabled {
					cursor: default;
					opacity: .1;
				}
			}
			.swiper-button-prev-university {
				left: -15px;
				right: auto;
				&:after {
					content: "\f104";
				}
			}
			.swiper-button-next-university {
				right: -15px;
				left: auto;
				&:after {
					content: "\f105";
				}
			}
		}



	}


	.section-university-list {
		position: relative;
		display: block;
		padding: 40px 0;
		background: #F7F7F7;
		.university-inner {
			display: block;
		}
		.university-box-title {
			position: relative;
			display: block;
			width: 100%;
			vertical-align: top;
			color: #333333;
			text-align: center;
			.title-name {
				position: relative;
				display: block;
				font-family: 'Averta-Bold';
				font-size: 26px;
				line-height: 31px;
				margin-bottom: 20px;
				padding: 0 0 25px;
				text-transform: uppercase;
				&:before {
					content: "";
					position: absolute;
					width: 175px;
					height: 15px;
					background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='176' height='15' viewBox='0 0 176 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cg clip-path='url(%23clip0)'%3e%3crect x='0.928925' y='6.57104' width='70' height='1' fill='%23C9C9C9'/%3e%3crect x='88' width='10' height='10' transform='rotate(45 88 0)' fill='%23C9C9C9'/%3e%3crect x='105.071' y='6.57104' width='70' height='1' fill='%23C9C9C9'/%3e%3c/g%3e%3cdefs%3e%3cclipPath id='clip0'%3e%3crect x='0.928925' width='174.142' height='14.1421' fill='white'/%3e%3c/clipPath%3e%3c/defs%3e%3c/svg%3e");
					bottom: 0;
					left: 0;
					right: 0;
					margin: 0 auto;
					pointer-events: none;
				}
			}
			.title-sub {
				position: relative;
				display: block;
				width: 100%;
				height: 103px;
				font-size: 18px;
				line-height: 1.4;
				text-align: justify;
				margin-bottom: 25px;
			}
			.title-menu {
				position: relative;
				display: block;
				width: 100%;
				line-height: 31px;
				white-space: nowrap;
				margin-bottom: 30px;
				span {
					font-family: 'Averta-Bold';
					color: #333333;
					margin-right: 20px;
				}
				.menu-item {
					display: inline-block;
					padding: 0 13px;
					height: 24px;
					line-height: 24px;
					font-size: 15px;
					color: #878787;
					margin-right: 8px;
					text-decoration: none;
					&:last-child {
						margin-right: 0;
					}
					&:hover {
						background: #3DD8B32e;
					}
					&.active {
						background: #3DD8B3;
						color: #fff;
					}
				}
			}
		}
		.university-box-list {
			position: relative;
			display: block;
			float: left;
			vertical-align: top;
			width: 100%;
			.university-list {
				position: relative;
				display: block;
				overflow: hidden;

				.university-item {
					position: relative;
					display: block;
					width: 100%;
					max-width: 350px;
					padding: 0;
					margin: 0 auto 30px;
					flex: auto;
					.item-inner {
						position: relative;
						display: block;
						padding: 20px 10px 10px;
						background: #FFFFFF;
						border: 1px solid #E8E8E8;
						.item-image {
							position: relative;
							display: block;
							overflow: hidden;
							margin-bottom: 20px;
							.item-image-a {
								position: relative;
								display: block;
								width: 80px;
								height: 80px;
								margin: 0 auto;
							}
						}
						.item-info {
							position: relative;
							display: block;
							text-align: center;
							.ratings {
								font-size: 13px;
								line-height: 1.5;
								letter-spacing: -0.05em;
								color: #878787;
								.ratings-value {
									color: #ED1C94;
									font-family: 'Averta-Bold';
								}
							}
							.item-title {
								position: relative;
								display: block;
								width: 100%;
								margin: 0 0 10px;
								padding: 0;
								.item-title-a {
									position: relative;
									display: block;
									display: -webkit-box;
									height: 40px;
									padding: 0;
									margin: 0;
									font-family: 'Averta-Bold';
									font-size: 16px;
									line-height: 19px;
									color: #333333;
									text-decoration: none;
									text-transform: uppercase;
									overflow: hidden;
									-webkit-box-orient: vertical;
									text-overflow: ellipsis;
									-webkit-line-clamp: 2;
									word-break: break-word;
									letter-spacing: -0.05em;
								}
							}
							.item-description {
								padding-bottom: 20px;
								border-bottom: 1px dashed #F2F2F2;
								font-size: 16px;
								color: #333333;
							}
							.list-majors {
								position: relative;
								display: block;
								text-align: center;
								margin: 0;
								span {
									display: inline-block;
									width: 26px;
									height: 26px;
									line-height: 26px;
									margin-bottom: 5px;
									margin-right: 5px;
									border-radius: 50%;
									overflow: hidden;
									background-color: #DA4167;
									color: #fff;
									font-size: 13px;
									text-align: center;
									text-transform: uppercase;
									&:nth-child(2) {
										background-color: #416CDA;
									}
									&:nth-child(3) {
										background-color: #41DADA;
									}
									&:nth-child(4) {
										background-color: #41DAA3;
									}
									&:nth-child(5) {
										background-color: #DA8A41;
									}
									&:nth-child(6) {
										background-color: #DA4167;
									}
									&:nth-child(7) {
										background-color: #416CDA;
									}
									&:nth-child(8) {
										background-color: #41DADA;
									}
									&:nth-child(9) {
										background-color: #41DAA3;
									}
									&:nth-child(10) {
										background-color: #DA8A41;
									}
									&:last-child {
										margin-right: 0;
									}
								}
							}
							// .btn-viewmore {
							// 	position: relative;
							// 	display: block;
							// 	width: 100%;
							// 	height: 50px;
							// 	line-height: 50px;
							// 	color: #fff;
							// 	background: #909CC2;
							// 	border: 1px solid #FFFFFF;
							// 	border-radius: 5px;
							// 	font-size: 18px;
							// 	text-align: center;
							// 	text-decoration: none;
							// }
						}
					}
					.item-inner:hover {
						.item-info {
							.btn-viewmore {
								background: #004989;
							}
						}
					}
				}
			}

		}
		@media (max-width: 991px) {
			.university-box-title {
				.title-menu {
					margin-bottom: 15px;
					overflow-x: auto;
					&:before {
						display: none;
					}
					.menu-item {
						height: 32px;
						line-height: 32px;
					}
				}
			}
		}

	}
}
