.oFair-ver-0212042020 {
	visibility: visible;
}
/*********************
VARIABLES
*********************/

$xanh: #004989;
$sua: #EBEBD3;
$vang: #F5A623;
$den: #000000;
$trang: #ffffff;
$hong: #FFD5C2;
$palefootertext: #d2d0c2;
$modulebackground: #d0cdc4;

@font-face {
	font-family: 'Averta';
	font-style: normal;
	font-weight: 400;
	src: url('../fonts/Averta-Regular.otf');
}
@font-face {
	font-family: 'Averta-Semibold';
	font-style: normal;
	font-weight: 600;
	src: url('../fonts/Averta-Semibold.otf');
}
@font-face {
	font-family: 'Averta-Bold';
	font-style: normal;
	font-weight: 700;
	src: url('../fonts/Averta-Bold.otf');
}
@font-face {
	font-family: 'Averta-Black';
	font-style: normal;
	font-weight: 900;
	src: url('../fonts/Averta-Black.otf');
}

